$colors: (
  primary: (
    200: hsl(225, 100%, 94%),
    300: hsl(245, 83%, 68%),
    400: hsl(245, 75%, 52%),
  ),
  accent: (),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(225, 100%, 98%),
    400: hsl(224, 23%, 55%),
    600: hsl(223, 47%, 23%),
  ),
);
