<article class="card">
  <div class="card__image">
    <img src="../../../assets/images/illustration-hero.svg" alt="" />
  </div>

  <div class="card__content | text-center">
    <h1>{{ title }}</h1>
    <p class="text-center mx-auto">
      You can now listen to millions of songs, audiobooks, and podcasts on any
      device anywhere you like!
    </p>
    <app-subscription-plan annualPrice="$59.99/year"></app-subscription-plan>
    <app-button text="Proceed to Payment"></app-button>
    <app-button text="Cancel Order" primary="false"></app-button>
  </div>
</article>
